<table border="0" cellborder="0" cellpadding="3">
    <tr>
        <td bgcolor="black" align="center" colspan="3">
            <font color="white">{{ name }}</font>
        </td>
    </tr>
    {% if doc %}
        {% for d in doc %}
            <tr>
                <td align="left" colspan="3">
                    {{ d }}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    {% for p in properties %}
        <tr>
            <td align="left" port="r0">
                <font {{ p.style }}>{{ p.name }}</font>
            </td>
            <td>
                <font {{ p.style }}>:</font>
            </td>
            <td align="right" port="r0">
                <font {{ p.style }}>{{ p.type }}</font>
            </td>
        </tr>
    {% endfor %}
</table>
